/*通用样式*/
*{
	margin: 0;
	padding: 0;
}
.page1{
	position: relative;
	background: url("../img/index/bg.png") no-repeat center -111px;
	background-size: 100%;
	height: 4626px;
}
img,.img{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.logo{
	margin-left: 56px;
}
.img_01{
	top: 151px;
}
.img_02{
	top: 298px;
	left: 130px;
}
.img_03{
	top: 670px;
}
.img_04{
	top: 1192px;
}
.img_05{
	top: 1690px;
}
.img_06{
	top: 2288px;
}
.img_07{
	top: 2738px;
}
.img_08{
	top: 3192px;
}
.img_09{
	bottom: 0;
}
.img_10{
	bottom: 70px;
}
.gif{
	position: absolute;
	width: 596px;
	height: 336px;
}
.gif03{
	top: 124px;
}
.gif04{
	top: 80px;
}
.gif05{
	top: 218px;
}
.gif06{
	top: 74px;
}
.gif07{
	top: 77px;
}
.gif08{
	top: 75px;
}

.all{
	width: 640px;
	position: relative;
	
}

.bg{
	position: absolute;
	top: -114px;
}

.pos{
	position: absolute;
	z-index: 10;
}

.aPos{
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	margin: auto;
}
.all .logo{

	left: 56px;
}

.all .w{
	top: 154px;

}
.all .shop{
	top: 164px;
	left: 162px;
}

.all .hText{
	top: 672px;
}
.all .part2{
	top: 787px;
	width: 613px;
	height: 352px;
}
.all .kuang{
	position: absolute;
}
.all .video{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.all .part3{
	top: 1190px;
	width: 613px;
	height: 352px;
}
.all .part4{
	top: 1692px;
	width: 613px;
	height: 352px;
}

.all .part5{
	top: 2290px;
	width: 613px;
	height: 352px;
}

.all .part6{
	top: 2740px;
	width: 613px;
	height: 352px;
}

.all .part7{
	top: 3195px;
	width: 613px;
	height: 352px;
}
.all .part8{
	top: 3050px;
}
.all .bottom{
	top: 4520px;
}

.hidden{
	display: none;
}
/*...领取优惠券页面...*/

.draw img{
	width: 640px;
}

/*...未购买产品用户页面....*/

.undraw{
	position: relative;
}
.undraw .undrawbg{
	position: absolute;
	width: 640px;
}
.undraw .undrawbtn{
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	margin: auto;
	top: 810px;
}





/*已领注册礼*/

.accPrize{
	position: relative;
	width: 640px;
}
.accPrize .accbg{
	position: absolute;
	width: 640px;
}
.accPrize .accbtn{
	position: absolute;
	left:193px ;
	top:856px;
}

/*参加活动说明*/

.activity{
	position: relative;
	width: 640px;
}

.activity .activitybg{
	position: absolute;
	width: 640px;
}

.activity .activitybtn{
	position: absolute;
	z-index: 10;
	left:227px ;
	top:802px ;
}
